DB_HOST=nozomi.proxy.rlwy.net
DB_PORT=58856
DB_NAME=railway
DB_USER=root
DB_PASSWORD=ANjgUNPiJbHXtUdFWfUajPnZztKZRnVY
PORT=4000
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=genera_un_jwt_secret_seguro_aqui
JWT_EXPIRES_IN=8h
